<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播流播放器</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flv.js/dist/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <style>
        .video-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .video-item {
            position: relative;
            box-sizing: border-box;
            margin: 10px;
            flex-basis: calc(100% / 11);  
        }

        .video-wrapper {
            position: relative;
            width: 400px;  /* 初始宽度 */
            height: 236px;  /* 初始高度 */
        }

        video {
            width: 100%;
            height: 100%;
        }

        .delete-button {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            background: rgba(255, 255, 255, 0.7); /* 透明样式 */
            border: none;
            cursor: pointer;
        }

        .delete-button:hover {
            background: rgba(255, 255, 255, 1); /* 悬停效果 */
        }
    </style>
</head>
<body>
    <form id="video-form" style="display: flex; justify-content: center; align-items: center;">
        <input type="text" id="video_link" placeholder="请输入视频链接" required style="margin-right: 10px;">
        <button type="submit" style="margin-right: 10px;">添加视频</button>
        <button type="button" id="play-all" style="margin-right: 10px;">播放所有</button>
        <button type="button" id="pause-all" style="margin-right: 10px;">暂停所有</button>
        <button type="button" id="delete-all" style="margin-right: 10px;">清除所有</button>
        <button type="button" id="switch-iframe" style="margin-right: 10px;" onclick="location.href='./iframe.html'">切换iframe</button>
    </form>
    <div class="video-container" id="video-container">
        {% for video_link in video_links %}
            <div class="video-item">
                <div class="video-wrapper">
                    <video id="video{{ video_link.id }}" controls></video>
                </div>
                <button class="delete-button" data-id="{{ video_link.id }}">删除</button>
            </div>
        {% endfor %}
    </div>
    <script>
        function adjustVideoSize() {
            var videoCount = $(".video-item").length;  // 播放器的数量
            var videosPerRow = Math.ceil(Math.sqrt(videoCount));  // 每行的播放器数量
            var containerWidth = $("#video-container").width();  // 容器的宽度

            var videoWidth = containerWidth / videosPerRow;  // 播放器的宽度
            var videoHeight = videoWidth * 9 / 16;  // 播放器的高度，假设宽高比为16:9

            $(".video-item").each(function() {
                $(this).css({
                    "width": videoWidth + "px",
                    "height": videoHeight + "px"
                });
            });
        }

        function initializeFlvPlayer(elementId, url) {
            if (flvjs.isSupported()) {
                console.log(`Initializing FLV player for ${elementId} with URL: ${url}`);
                var videoElement = document.getElementById(elementId);
                var flvPlayer = flvjs.createPlayer({
                    type: 'flv',
                    url: url
                });
                flvPlayer.attachMediaElement(videoElement);
                flvPlayer.load();
                flvPlayer.on('loadedmetadata', function() {
                    adjustVideoSize();  // 加载完成后调整播放器大小
                });
            } else {
                console.log('FLV.js is not supported');
            }
        }

        function initializeHlsPlayer(elementId, url) {
            var videoElement = document.getElementById(elementId);
            if (Hls.isSupported()) {
                console.log(`Initializing HLS player for ${elementId} with URL: ${url}`);
                var hls = new Hls();
                hls.loadSource(url);
                hls.attachMedia(videoElement);
                hls.on(Hls.Events.MANIFEST_PARSED, function() {
                    console.log(`HLS manifest loaded for ${elementId}`);
                    videoElement.play();
                    adjustVideoSize();  // 加载完成后调整播放器大小
                });
                hls.on(Hls.Events.ERROR, function(event, data) {
                    console.error(`HLS error for ${elementId}: ${data.type} - ${data.details}`);
                });
            } else if (videoElement.canPlayType('application/vnd.apple.mpegurl')) {
                console.log(`Native HLS support for ${elementId} with URL: ${url}`);
                videoElement.src = url;
                videoElement.addEventListener('loadedmetadata', function() {
                    adjustVideoSize();  // 加载完成后调整播放器大小
                });
                videoElement.play();
            } else {
                console.log('HLS.js is not supported');
            }
        }

        function getFormat(url) {
            const pattern = /\.([0-9a-z]+)(?:[\?&]|$)/i;
            const match = url.match(pattern);
            return match ? match[1].toLowerCase() : '';
        }

        function initializePlayer(elementId, url) {
            var format = getFormat(url);  // 从视频链接中获取格式
            console.log(`Initializing player for ${elementId} with URL: ${url} and format: ${format}`);
            if (format === 'flv') {
                initializeFlvPlayer(elementId, url);
            } else if (format === 'm3u8') {
                initializeHlsPlayer(elementId, url);
            } else {
                console.log(`Unsupported format: ${format} for URL: ${url}`);
            }
        }

        $("#video-form").submit(function(e) {
            e.preventDefault();
            var videoLink = $("#video_link").val();
            $.post("/add_video", {video_link: videoLink}, function(data) {
                var newVideoItem = `
                    <div class="video-item">
                        <div class="video-wrapper">
                            <video id="video${data.id}" controls></video>
                        </div>
                        <button class="delete-button" data-id="${data.id}">删除</button>
                    </div>
                `;
                $("#video-container").append(newVideoItem);
                initializePlayer(`video${data.id}`, data.link);
            });
        });

        $(document).on("click", ".delete-button", function() {
            var idToRemove = $(this).data("id");
            $(this).parent().remove();
            $.post("/delete_video", {video_id: idToRemove});
        });

        $("#delete-all").click(function() {
            var confirmation = confirm("确定删除所有视频吗？");
            if (confirmation) {
                $.post("/delete_all_videos", function() {
                    $(".video-item").remove();
                });
            }
        });

        $("#play-all").click(function() {
            $("video").each(function() {
                this.play();
            });
        });

        $("#pause-all").click(function() {
            $("video").each(function() {
                this.pause();
            });
        });

        $(document).ready(function() {
            $.get("/get_video_links", function(data) {
                for (var i = 0; i < data.length; i++) {
                    var video_link = data[i];
                    initializePlayer("video" + video_link.id, video_link.link);
                }
                adjustVideoSize();  // 页面加载完成后调整播放器大小
            });
        });
    </script>
</body>
</html>
